      <tr>
        <td class="center"><%= episode[:codec] %></td>
        <td class="center"><%= episode[:height] %></td>
        <td class="right"><%= size_in_mb %></td>
        <td class="left"><%= episode[:show] %></td>
        <td class="left"><%= episode[:file] %></td>
        <td class="left"><%= episode[:mtime] %></td>
      </tr>
