<tr>
  <td class='left'><%= show %></td>
  <td><%= show_size %></td>
  <td class='center'><progress max="<%= name['episodes'] %>" value="<%= name['x265_episodes'] %>"></progress></td>
  <td><%= name['episodes'] %></td>
  <td><%= episode_badge(name) %></td>
  <td><%= name['x265_1080p'] %></td>
  <td><%= name['x265_720p'] %></td>
  <td><%= name['x265_sd'] %></td>
  <td><%= name['x264_1080p'] %></td>
  <td><%= name['x264_720p'] %></td>
  <td><%= name['x264_sd'] %></td>
  <td><%= name['mpeg_720p'] %></td>
  <td><%= name['mpeg_sd'] %></td>
</tr>
